{% extends 'base.html.twig' %}

{% block title %}Édition Catégorie{% endblock %}

{% block body %}
    <h1>Édition Catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category_index') }}">Retour</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
