<form method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to Supprimer this item?');">
    <input type="hidden" Nom="_token" value="{{ csrf_token('Supprimer' ~ article.id) }}">
    <button class="btn">Supprimer</button>
</form>
